body{
  margin: 0;
}
.h1-1{
  color: white;
  margin: 0;
  padding: 20px;
}
.a-a{
  color: black;
  text-decoration: none;
}
.head{
    background-color: black;

}
.head-center{
   width: 850px;
  margin:0 auto;
}
.nav{
  display: flex;
  align-items: center;
  height: 80px;
  margin: 20px 0;
}
.nav-item{
  margin-left: 30px;
  border: 1px solid rgba(0,0,0,.10);
  padding: 5px 90px;
}
.nav-center-item{
  display: flex;
  margin: 0 auto;
}

.middle{
  margin-bottom: 30px;
}
.center{
  /* height: 27px; */
  width: 800px;
  border-bottom: 2px solid gray;
  margin:0 auto;
}
/* 여기서부터 다음까지 주석까지 폼요소 CSS */
.box1{
  width: 800px;
  margin:0 auto;
  border: 1px solid black;
  margin-bottom: 30px;
}
.box2{
  border-top: 1px solid rgba(0,0,0,.03);
  padding: 25px;
  font-size: 15px;

}
.box3{
  padding: 10px;
  font-size: 20px;
  background-color: rgba(0,0,0,.03);
}

.people
{
  border: 1px solid black;
  padding: 15px;
  margin: 14px 0px;
}
.box-id{
  width: 700px;
  height: 20px;
  margin: 10px 0;
}
#ph{
  width: 400px;
  height: 20px;
  margin: 10px 0;
}
.ph-bt{
  width: 295px;
  height: 27px;
  background-color: #4ec53d;
  font-size: 12px;
  color:#fff;
}
.sub{
  background-color: #4ec53d;
  width: 700px;
  height: 30px;
  margin: 10px 0;
  font-size: 12px;
  color: #fff;
}
/* 폼요소 */

/* 여기서부터 다음 주석까지 리스트 CSS */
/* 프로젝트 h1 요소 */
.h1-2{
  text-align: center;
  margin: 30px 0;
}

/* 실시간 검색 */
.p-a{
  color: blue;
  text-decoration: none;
}
.chek{
  width: 300px;
  border: 1px solid #e4e4e4;
  margin: 20px;
}
.li-l{
  padding: 2px;
}
.live{
  padding: 20px;
}
/* 쿠키이용안내 */
.cok{
  border: 1px solid #e4e4e4;

}
.cok-li{
  margin:5px 0;
}
.cok-head{
  margin: 20px 0;
}
/* 뉴스부분 */
.news{
  margin: 20px 0;
}
.news-head{
  border: 1px solid #e4e4e4;
  margin: 20px 0;
  padding: 20px;
}
.news-body{
  border-bottom: 1px solid #e4e4e4;
  margin-bottom: 10px;
}
.news-body-item{
  margin: 5px 0;
}
/* img{
  float: left;
  padding: 0px 10px;
  margin: 10px 0;
} */
